html,body,ul,select,p {margin:0;padding:0;}
body{font-family: \5FAE\8F6F\96C5\9ED1,"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:100%;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}
img{max-width:100%;}
.hide{display:none;}

.wrapper{}
header{height:0px;margin:0 auto;margin-bottom:0px;color:#fff;padding-top:700px;}
header .bg{position:absolute;display: none;z-index:-1;top:0;margin:0 auto;width:100%;height:700px;}
header p img{vertical-align:middle;margin-left:5%;}
header p.tit{font-size:3.75em;text-align:center;margin-top:200px;}
header p.desc{font-size:1.75em;text-align:center;}
header a{color:#fff;font-size:1.5em;text-decoration:none;float:right;margin-right:30px;padding:2px 15px;padding-top:6px;}

header.ios img.ios{display:block;}
header.android img.android{display:block;}
header.all img.all{display:block;}

article .btn a {
    text-decoration:none;
    color:#fff;
    font-size:1.75em;
	height: 100px;
    line-height: 100px;
	width: 350px;
}

article .btn a img {
	padding-top: 12px;
	padding-left: 12px;
}

article .btn-group a.ios{
	background: #23a4f7;
	background: -moz-linear-gradient(top, #29adf8, #23a4f7 100%);
	background: -moz-o-gradient(top, #29adf8, #23a4f7 100%);
	background: -webkit-gradient(linear,0 0,0 100%,from(#29adf8), to(#23a4f7));
	display:inline-block;box-shadow:0 2px 5px #b1b1b1;}
article .btn-group a span{display:inline-block;width:55px;height:100px;margin: 12px;float:left;}
article .btn-group span.ios-download{
	margin: 0;
	margin-right: 20px;
	width: 100px;
	background: #1091ec;
    background: -moz-linear-gradient(top, #209ef3, #1091ec 100%);
    background: -moz-o-gradient(top, #209ef3, #1091ec 100%);
    background: -webkit-gradient(linear,0 0,0 100%,from(#1091ec), to(#23a4f7));
}

article .btn-group a.android{
	background: #4eb408;
	background: -moz-linear-gradient(top, #50c20b, #4eb408 100%);
	background: -moz-o-gradient(top, #50c20b, #4eb408 100%);
	background: -webkit-gradient(linear,0 0,0 100%,from(#50c20b), to(#4eb408));
	display:inline-block;box-shadow:0 2px 5px #b1b1b1;}
	
article .btn-group span.android-download{
	margin: 0;
	margin-right: 20px;
	width: 100px;
    background: #4ca306;
    background: -moz-linear-gradient(top, #501b406, #4ca306 100%);
    background: -moz-o-gradient(top, #501b406, #4ca306 100%);
    background: -webkit-gradient(linear,0 0,0 100%,from(#501b406), to(#4ca306));
}

article .btn-group span.text-top{width: 348px;margin:16px 0 0 10px;height: 34px;font-size:0.85em;}
article .btn-group span.text-bottom{width: 348px;margin:0;height: 43px;}

article .btn-group {padding-top:20px; padding-bottom: 20px; }
article .btn-group a {text-align: left; margin: 10px}

article.ios section.ios-btn{display:block;}
article.all section.all-btn{display:block;}
article.android section.android-btn{display:block;}

article section{padding:30px;text-align:center;border-bottom:1px dashed #b2b2b2;}
article .section-last{border-bottom:0;}
article .img-bg{margin:50px 0 45px 0;}
article p.tit{font-size:36px;padding:30px 0; color: #464646; font-weight: bold;}
article p.desc{font-size:26px;color:#646464;padding:0 10px 0 10px;}
footer{color:#929292;font-size:22px;text-align:center;height:5.75em;line-height:5.75em;}